</body>
<!-- <a href='https://www.freepik.com/vectors/flat-logo'>Flat logo vector created by freepik - www.freepik.com</a> -->
<a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/smartphone" title="smartphone icons">Smartphone icons created by Freepik - Flaticon</a>
</html>