<div id="about">
    <div class="portrait-set">
        <div class="about-group">
            <img src="about-francisco.jpeg" 
                onmouseover="hidePointer(event, 'ptr-1')" onmouseout="showPointer(event, 'ptr-1')">
            <h3 class="hidden-name">Franciso Hernandez,<br>Technician</h3>
            <p id="ptr-1" class="pointer">✦</p>
        </div>
        <div class="about-group">
            <img src="about-daniel.jpeg" 
                onmouseover="hidePointer(event, 'ptr-2')" onmouseout="showPointer(event, 'ptr-2')">
            <h3 class="hidden-name">Daniel Suarez,<br>Co-Founder and Sr. Technician</h3>
            <p id="ptr-2" class="pointer">✦</p>
        </div>
        <div class="about-group">
            <img src="about-pablo.jpeg" 
                onmouseover="hidePointer(event, 'ptr-3')" onmouseout="showPointer(event, 'ptr-3')">
            <h3 class="hidden-name">Pablo Cordova,<br>Technician</h3>
            <p id="ptr-3" class="pointer">✦</p>
        </div>

    </div>
    <article>
        <h2>About Us</h2>
        <p>
            Our business has humble beginnings from Mansfield, Texas, where two college students searched for an honest 
            living that would help them thrive through their education. After countless hours 
            of working on properties, earning profit, and investing in equipment, our small business began.
        </p>
        <p>
            Apex Texas Power Washing is a company that values dedication, pride, and satisfaction. We strive to 
            provide the apex quality of every service we offer. We wish to remind you of our quality service every time 
            you step outside of your home and to always think of us whenever you are in need of outdoor cleaning services.
        </p>
    </article>
</div>