<%- include('partials/header') -%>
<body>
    <h1>Sorry! Something went wrong. We'll try to fix the issue ASAP. 
        For the time being, please use other methods of contact.</h1>
</body>
<%- include('partials/footer') -%>