
<div id="services" class="container">

    <!-- <div class="left">
        <img id="house-img" src="house-model.png">
        <div id="house-bubble" class="bubble">
            <a id="house-ref" class="svc-links" onclick="showSection(event, 'house')">House Wash</a>
        </div>
        <div id="patio-bubble" class="bubble">
            <a id="patio-ref" class="svc-links" onclick="showSection(event, 'patio')">Patio & Deck</a>
        </div>
        <div id="driveway-bubble" class="bubble">
            <a id="driveway-ref" class="svc-links" onclick="showSection(event, 'driveway')">Driveway</a>
        </div>
        <div id="mold-bubble">
            <a id="why-ref" class="svc-links" onclick="showSection(event, 'why')">Why Wash</a>
        </div>
    </div> -->

    <div class="right">
        <section id="why" class="svc-section ">
            <h2>Why Power Wash Your Home?</h2>
            <div class="content">
                <p>
                    Mold produces acids and other secretions that degrades 
                    the structural integrity of concrete, thus effectively reducing 
                    the lifespan of your cement structures.
                    More importantly, mold can affect the health of anyone 
                    who is exposed its harmful spores, especially those with
                    a compromised respiratory system.
                    You can trust our cleaning solutions to not only 
                    remove impurities around your home but to also restore its appearance
                    as if it were new and ageless.
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'driveway')">
                    <span>Driveway</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'patio')">
                    <span>Patio & Deck</span>
                </button>
            </div>
        </section>
        <section id="house" class="svc-section hide">
            <h2>House Wash</h2>
            <div class="content">
                <div class="media">
                    <img src="house-example.png" width="500px">
                </div>
                <p>
                    Over time, you've probably noticed some discoloration or
                    algae on the exterior of your home. Leaving such 
                    impurities can degrade the house's structural integrity, 
                    eventually leading to chipping and rotting. 
                    From your roof to your walls, we can remove all those 
                    impurities to restore your home's youth and protect it from 
                    dilapidation.  
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'patio')">
                    <span> Patio & Deck</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'driveway')">
                    <span>Driveway</span>
                </button>
            </div>
        </section>
        <section id="patio" class="svc-section hide">
            <h2>Patio & Deck</h2>
            <div class="content">
                <div class="media">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FApexTexasPowerWashing%2Fvideos%2F2385150081618478%2F&show_text=false&width=560&t=0" 
                        width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                        allowFullScreen="true">
                    </iframe>
                </div>
                <p>
                    When it comes to your patio and deck, a routine cleaning is a must.
                    Dirt and mold in your backyard can create an unhealthy environment 
                    for friends, family and pets. Because we care for the health of 
                    our clients and the environment, we only use eco-friendly chemical
                    solutions for cleaning your property. 
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'why')">
                    <span>Why Wash</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'house')">
                    <span>House Wash</span>
                </button>
            </div>
        </section>
        <section id="driveway" class="svc-section hide">
            <h2>Driveway</h2>
            <div class="content">
                <div class="media">
                    <!-- Your embedded video player code -->
                    <iframe src="https://www.facebook.com/plugins/video.php?height=317&href=https%3A%2F%2Fwww.facebook.com%2FApexTexasPowerWashing%2Fvideos%2F1450624491989838%2F&show_text=false&width=560&t=0" 
                        width="560" height="317" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" 
                        allowFullScreen="true">
                    </iframe>
                </div>
                <p>
                    Your driveway often collects oil and grease from vehicles, which requires
                    a special type of cleaning method. Allowing it to build along with 
                    typical surface contaminants can wear away the concrete and leave stubborn stains. 
                    Our special cleaning solution can cut through the grease and remove those stains, 
                    so that you can be welcomed home with a spotless driveway.
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'house')">
                    <span>House Wash</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'why')">
                    <span>Why Wash</span>
                </button>
            </div>
        </section>
    </div>
    
</div>