
<div id="services" class="container">

    <!-- <div class="left">
        <img id="house-img" src="house-model.png">
        <div id="house-bubble" class="bubble">
            <a id="house-ref" class="svc-links" onclick="showSection(event, 'house')">House Wash</a>
        </div>
        <div id="patio-bubble" class="bubble">
            <a id="patio-ref" class="svc-links" onclick="showSection(event, 'patio')">Patio & Deck</a>
        </div>
        <div id="driveway-bubble" class="bubble">
            <a id="driveway-ref" class="svc-links" onclick="showSection(event, 'driveway')">Driveway</a>
        </div>
        <div id="mold-bubble">
            <a id="why-ref" class="svc-links" onclick="showSection(event, 'why')">Why Wash</a>
        </div>
    </div> -->

    <div class="right">
        <section id="why" class="svc-section ">
            <h2>Why Power Wash Your Home?</h2>
            <div class="content">
                <p>
                    Mold produces acids and other secretions which degrades 
                    the structural integrity on concrete, effectively reducing 
                    the lifespan of your cement structures. 
                    Making it more prone to chipping and general damage.
    
                    More importantly, mold can affect the health of anyone 
                    who consistently breathes and ingests its harmful spores 
                    especially affecting outdoor pets and anyone who has a 
                    compromised respiratory system (old age/sensitive cases) .
    
                    Lastly, our mixes and chemicals have proven to not only 
                    kill any impurities in your home but also give your paint 
                    a “restoration” look as shown in our photo gallery.
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'driveway')">
                    <span>ᐊ</span>
                    <span>Driveway</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'patio')">
                    <span>Patio & Deck</span>
                    <span>ᐅ</span>
                </button>
            </div>
        </section>
        <section id="house" class="svc-section hide">
            <h2>House Wash</h2>
            <div class="content">
                <div class="media">
                    <img src="house-example.png" width="500px">
                </div>
                <p>
                    Our House wash chemicals are carefully mixed and expertly 
                    applied to give your paint and home an extended life by 
                    killing mold, mildew, and any surface bacteria which can 
                    take years from your home.
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'patio')">
                    <span>ᐊ</span>
                    <span> Patio & Deck</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'driveway')">
                    <span>Driveway</span>
                    <span>ᐅ</span>
                </button>
            </div>
        </section>
        <section id="patio" class="svc-section hide">
            <h2>Patio & Deck</h2>
            <div class="content">
                <div class="media">
                    <!-- Your embedded video player code -->
                    <div class="fb-video" data-href="https://www.facebook.com/ApexTexasPowerWashing/videos/2385150081618478/" data-width="500px" data-show-text="false">
                        <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/ApexTexasPowerWashing/videos/2385150081618478/">
                            <a href="https://www.facebook.com/ApexTexasPowerWashing/videos/2385150081618478/"></a>
                            Posted by <a href="https://www.facebook.com/facebook/">Facebook</a>
                        </blockquote>
                        </div>
                    </div>
                </div>
                <p>
                    Experts in Concrete cleaning, we use eco-friendly chemicals 
                    along with industry standard tools to remove any impurities 
                    and also give a newer look to your home.
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'why')">
                    <span>ᐊ</span>
                    <span>Why Wash</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'house')">
                    <span>House Wash</span>
                    <span>ᐅ</span>
                </button>
            </div>
        </section>
        <section id="driveway" class="svc-section hide">
            <h2>Driveway</h2>
            <div class="content">
                <div class="media">
                    <!-- Your embedded video player code -->
                    <div class="fb-video" data-href="https://www.facebook.com/ApexTexasPowerWashing/videos/1450624491989838/" data-width="500" data-show-text="false">
                        <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/ApexTexasPowerWashing/videos/1450624491989838/">
                            <a href="https://www.facebook.com/ApexTexasPowerWashing/videos/1450624491989838/">How to Share With Just Friends</a>
                            <p>How to share with just friends.</p>
                            Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
                        </blockquote>
                        </div>
                    </div>
                </div>
                <p>
                    Apex Texas uses top-of-the-line tools to expertly remove any 
                    discoloration and extend your concretes life by removing any
                    grime and filth. Such filth can eat away at the concretes
                    foundation and take years from your residence.
                </p>
            </div>
            <div class="svc-btns">
                <button class="prev-btn" onclick="showSection(event, 'house')">
                    <span>ᐊ</span>
                    <span>House Wash</span>
                </button>
                <button class="next-btn" onclick="showSection(event, 'why')">
                    <span>Why Wash</span>
                    <span>ᐅ</span>
                </button>
            </div>
        </section>
    </div>
    
</div>